TWILIO_ACCOUNT_SID = 'AC30bb9994a97604528724d1b822cbefdb'
TWILIO_AUTH_TOKEN = '656d11e7dffe50369c5c2f5849d2627b'
TWILIO_PHONE_NUMBER = '+14159699814'
SECRET_KEY = "CYnFqg61nfdVvHY4KAjP8k1V--6pr-AbVlEFVDmVaxs"

DATABASE_URL="postgresql://avnadmin:AVNS_j6j7GCHqwx-uBnYVR9Q@pg-2510ce22-debasishbehera280-1e1c.i.aivencloud.com:28548/defaultdb?"
sslmode="require"
